$color-map: (
  //pastel colors
  p-red: rgb(255, 128, 128),
  p-green: rgb(175, 255, 175),
  p-blue: rgb(81, 136, 255),
  p-purple: rgb(208, 126, 255),
  p-yellow: rgb(255, 255, 126),
  p-orange: rgb(255, 142, 49),
  dark: rgb(40, 40, 40),
  //custom colors
  //summer
  s-primary:#e76f51,
  s-secondary:#f4a261,
  s-warning:#e9c46a,
  s-info:#2a9d8f,
  s-dark:#264653,
  //discord colors
  d-primary:	#7289da,
  d-gray:	#99aab5,	
  d-secondary:	#2c2f33,	
  d-dark:	#23272a,
  //bootstrap colors
  b-primary:#0d6efd,
  b-secondary:#6c757d,
  b-success:#28a745,
  b-danger:#dc3545,
  b-warning:#ffc107,
  b-info:#17a2b8,
  b-light:#f8f9fa,
  b-dark:#343a40,
  //mui
  mui-primary:#90caf9,
  mui-secondary:#ce93d8,
  mui-error:#f44336,
  mui-warning:#ffa726,
  mui-info:#29b6f6,
  mui-success:#66bb6a,
  mui-primary-light:#e3f2fd,
  mui-secondary-light:#f3e5f5,
  mui-error-light:#e57373,
  mui-warning-light:#ffb74d,
  mui-info-light:#4fc3f7,
  mui-success-light:#81c784,
  mui-primary-dark:#42a5f5,
  mui-secondary-dark:#ab47bc,
  mui-error-dark:#d32f2f,
  mui-warning-dark:#f57c00,
  mui-info-dark:#0288d1,
  mui-success-dark:#388e3c,
  //andoid esque
  a-primary-dark:   #00796B,
  a-primary:        #009688,
  a-primary-light:  #B2DFDB,
  a-accent:         #607D8B,
  a-primary-text:   #212121,
  a-secondary-text: #757575,
  a-divider:        #BDBDBD,
  //exodus
  ex-primary:#6619FF,
  ex-secondary:#00BFFF,
  ex-bg:#1F2133,
//red
  r-primary-dark:   #D32F2F,
  r-primary:        #F44336,
  r-primary-light:  #FFCDD2,
  r-accent:         #607D8B,
  r-primary-text:   #212121,
  r-secondary-text: #757575,
  r-divider:        #BDBDBD,
//yellow/blue palette
yb-color1: #f1cf76,
yb-color2: #eae39d,
yb-color3: #1a53b4,
yb-color4: #2097d8,
yb-color5: #a3ebe9,
  //built in css colors
  black: rgb(0, 0, 0),
  white: rgb(255, 255, 255),
  gray: gray,
  
);

@each $name, $color in $color-map {
  .#{$name}-bg {
    background: $color;
  }
  .#{$name}-text {
    color: $color;
  }
  
}

@each $name, $color in $color-map {
  .#{$name}-btn {
    background: $color;
    cursor: pointer;
    outline: 0;
    
    background-color: $color;
    border-color: $color;
    display: inline-block;
    font-weight: 400s;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {    
        background-color: adjust-hue($color, 10);
        border-color: adjust-hue($color, 10);
    }
  }
}

@each $name, $color in $color-map {
  .#{$name}-btn-sharp {
    background: $color;
    cursor: pointer;
    outline: 0;
    
    background-color: $color;
    border-color: $color;
    display: inline-block;
    font-weight: 400s;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {    
        background-color: adjust-hue($color, 10);
        border-color: adjust-hue($color, 10);
    }
  }
}

@each $name, $color in $color-map {
  .#{$name}-btn-pill {
    background: $color;
    cursor: pointer;
    outline: 0;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: $color;
    border-color: $color;
    display: inline-block;
    font-weight: 400s;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {    
        background-color: adjust-hue($color, 10);
        border-color: adjust-hue($color, 10);
    }
  }
}

@each $name, $color in $color-map {
  .#{$name}-btn-outline {
    background: $color;
    -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid 2px;
  border-color: adjust-hue($color, 10);
  text-decoration: none;
    }
  }

//--------------------

//-----------
$radius-map:(
sm: border-radius 5px,
m: border-radius 8px,
l: border-radius 10px,
xl: border-radius 15px,
);

@each $name, $border-radius in $radius-map {

  .#{$name}-radius {
    border-radius: $border-radius;
    
  }

}



@each $name, $color in $color-map {
  .#{$name}-card {
    background: $color;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   padding: 2px 6px;
   width: fit-content;
   border-radius: 3px;
   &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
  }
}




.ripple{
  position: relative;
  overflow: hidden; 
}
.ripple:before {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.6);
  content:'';
  position: absolute;
  top: 50%; left: 50%;
  width:0; height:0;
}
.ripple:focus:before {
  transition: all 0.5s ease-out;
  opacity:0;
  width:160px;
  height:160px;
  margin-top:-80px;
  margin-left:-80px;
}

.underline{
  text-decoration: underline;
}
.underline-dotted{
  text-decoration: underline dotted;
}
.overline {
  text-decoration: overline;
}


@each $name, $color in $color-map {
  .#{$name}-underline {
    text-decoration: underline $color;
   }
  }
