.red-bg {
  background: #ff8080;
}

.red-text {
  color: #ff8080;
}

.green-bg {
  background: #afffaf;
}

.green-text {
  color: #afffaf;
}

.blue-bg {
  background: #afafff;
}

.blue-text {
  color: #afafff;
}

.purple-bg {
  background: #ff9aff;
}

.purple-text {
  color: #ff9aff;
}

.yellow-bg {
  background: #ffff7e;
}

.yellow-text {
  color: #ffff7e;
}

.orange-bg {
  background: #ffb835;
}

.orange-text {
  color: #ffb835;
}

.black-bg {
  background: black;
}

.black-text {
  color: black;
}

.white-bg {
  background: white;
}

.white-text {
  color: white;
}

.dark-bg {
  background: #282828;
}

.dark-text {
  color: #282828;
}

.red-btn {
  background: #ff8080;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.red-btn:hover {
  background: white;
}

.green-btn {
  background: #afffaf;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.green-btn:hover {
  background: white;
}

.blue-btn {
  background: #afafff;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.blue-btn:hover {
  background: white;
}

.purple-btn {
  background: #ff9aff;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.purple-btn:hover {
  background: white;
}

.yellow-btn {
  background: #ffff7e;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.yellow-btn:hover {
  background: white;
}

.orange-btn {
  background: #ffb835;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.orange-btn:hover {
  background: white;
}

.black-btn {
  background: black;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.black-btn:hover {
  background: white;
}

.white-btn {
  background: white;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.white-btn:hover {
  background: white;
}

.dark-btn {
  background: #282828;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.dark-btn:hover {
  background: white;
}
/*# sourceMappingURL=pastel.css.map */