$color-map: (
  red: rgb(255, 128, 128),
  green: rgb(175, 255, 175),
  blue: rgb(103, 103, 255),
  purple: rgb(208, 126, 255),
  yellow: rgb(255, 255, 126),
  orange: rgb(255, 184, 53),
  black: black,
  white: white,
  dark: #282828,
);

@each $name, $color in $color-map {
  .#{$name}-bg {
    background: $color;
  }
  .#{$name}-text {
    color: $color;
  }
  
}

@each $name, $color in $color-map {
  .#{$name}-btn {
    background: $color;
    cursor: pointer;
    outline: 0;
    
    background-color: $color;
    border-color: $color;
    display: inline-block;
    font-weight: 400s;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        
        background-color: adjust-hue($color, 10);
        border-color: adjust-hue($color, 10);
    }

  }
 
  
}


